.jumbotron1 {
    background-image: url("/assets/img/burger.png");
    /* background-repeat: no-repeat; */
    background-position: right;
    background-color: #e63010;
    color: #ffffff;
    margin-top: 3%;
    padding: 50px;
}

.jumbotron {
    text-align: center;
    background-color: #d61212;
    color: #ffffff;
    margin-top: 3%;

}

#newburger {
    color: #23582a;
}

#leftside {
    background-color: #1180ca;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#rightside {
    background-color: #3409d3;
    color: white;
    text-align: center;
    font-size: 1.3em;
}